<div class="heading">Branches</div>
<mat-card>
    <mat-tab-group dynamicHeight>
        <mat-tab label="View Branch">
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Filter
                </mat-expansion-panel-header>
                <form class="no-add-student">
                    <mat-form-field class="report-width-15">
                        <mat-label>State</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let state of states" [value]="state.value">
                                {{state.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="report-width-15">
                        <mat-label>City</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let city of cities" [value]="city.value">
                                {{city.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="report-width-15">
                        <mat-label>Postal code</mat-label>
                        <mat-select>
                            <mat-option value="option">381124</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-action-row>
                        <button mat-stroked-button color="warn" type="reset">Cancel</button>
                        <!-- <button mat-flat-button color="primary">Download</button> -->
                        <button mat-flat-button color="primary" (click)="generateReport()">Print</button>
                        <button mat-flat-button color="primary">View</button>
                    </mat-action-row>
                </form>
            </mat-expansion-panel>
            <mat-form-field id="searchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <mat-table [dataSource]="dataSource" matSort>                
                <!-- Branch Name Column -->
                <ng-container matColumnDef="branchname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Branch Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.branchname}} </mat-cell>
                </ng-container>
                
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
                
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <!-- phone Column -->
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Phone no. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
                </ng-container>
                
                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="tbl-right"> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="tbl-right">
                        <!-- <button mat-icon-button color="primary" matTooltip="View">
                        <mat-icon>visibility</mat-icon>
                        </button> -->
                        <button mat-icon-button color="primary" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                        </button>
                        <mat-slide-toggle color="primary" [checked]="checked" [matTooltip]="!checked ? 'Enable' : 'Disable'"></mat-slide-toggle>
                    </mat-cell>
                </ng-container> 

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-tab>
        <!-- ======================================================================================================================= -->
        <mat-tab label="Add Branch">
            <form class="no-add-branch" [formGroup]="firstFormGroup">
                <mat-card style="background: none; box-shadow: none;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <!-- <mat-card-title><span>User name</span></mat-card-title>
                        <mat-card-subtitle><span>User Type</span></mat-card-subtitle> -->
                    </mat-card-header>
                </mat-card>
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="First name" formControlName="fname" required>
                    <mat-error *ngIf="firstFormGroup.get('fname').invalid">First name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Middle name">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Last name" formControlName="lname" required>
                    <mat-error *ngIf="firstFormGroup.get('lname').invalid">Last name is required</mat-error>
                </mat-form-field>
                <br>
                <div class="gndr" >
                    <p><label class="half-width">Select Gender</label></p>
                    <mat-radio-group aria-label="Select Gender" class="half-width" color="primary" formControlName="gender" required>
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                        <mat-radio-button value="Other">Other</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="firstFormGroup.get('gender').invalid">Gender is required</mat-error>
                </div>
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Branch name" formControlName="bname" required>
                    <mat-error *ngIf="firstFormGroup.get('bname').invalid">Branch name is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <textarea type="text" matInput placeholder="Address" rows="3" formControlName="address" required></textarea>
                    <mat-error *ngIf="firstFormGroup.get('address').invalid">Address is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city" required>
                        <mat-option *ngFor="let city of cities" [value]="city.value">
                        {{city.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstFormGroup.get('city').invalid">City is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" required>
                        <mat-option *ngFor="let state of states" [value]="state.value">
                        {{state.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="firstFormGroup.get('state').invalid">State is required</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput #postalCode maxlength="6" placeholder="Postal Code" formControlName="pcode" required>
                    <mat-error *ngIf="firstFormGroup.get('pcode').invalid">Postal is required</mat-error>
                    <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                    <input type="text" type="number" matInput placeholder="Phone number" [formControl]="pnum" required>
                      <mat-error *ngIf="pnum.hasError('required')">
                        Phone number is <strong>required</strong>
                      </mat-error>
                      <mat-hint align="end">{{pnum.value.length}} / 10</mat-hint>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Email" [formControl]="emailFormControl" required>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="Password" [formControl]="npass" required>
                    <mat-error *ngIf="npass.hasError('required')">
                        Password is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="Confirm password" [formControl]="pass" required>
                    <mat-error *ngIf="pass.hasError('pattern') && !pass.hasError('required')">
                        Password does not match
                      </mat-error>
                      <mat-error *ngIf="pass.hasError('required')">
                        Password is <strong>required</strong>
                      </mat-error>
                </mat-form-field>
                <!-- <div class="right"> -->
                    <mat-action-row>
                        <button mat-flat-button color="primary" (click)="onAddbranch()">Add</button>
                        <button mat-stroked-button color="warn" (click)="onClearbranch()">Cancle</button>    
                    </mat-action-row>
                <!-- </div> -->
            </form>
        </mat-tab>
    </mat-tab-group>   
</mat-card>