/*   
  .mat-card{
    display: inline-block;
    max-width: 300px;
    width: 100%;
    margin: 15px;
  } */
  /* .mat-card2{
    width: 100%;
  } */
  .button2{
    margin-left: -8px;
    margin-right: 322px;
    padding: 8px 0;
    display: block;
    margin-bottom: -58px;
  }
  .heading{
    margin:20px 0;
    color:#ffffff;
    font-size: 36px;
    display: block;
}

.space {
  width: 100%;
  flex: 1 1 10%;
}

mat-table {
  width: 100%;
}

.print-button {
  height: 33px;
  width: 85px;
}