.half-width {
    width: 47%;
}

.full-width {
    width: -webkit-fill-available;
}

mat-form-field {
    margin-right: 12px;
}

/* 
.example-form{
    height: 100%;
    width: 95%;
} */
.uploadfilecontainer {
    /* background-image: url("../../assets/cloud-2044823_960_720.png"); */
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    position: relative;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}
.button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

