.half-width {
    width: 47%;
}

.full-width {
    width: 100%;
}

mat-form-field {
    margin-right: 12px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.example-form{
    height: 100%;
    width: 95%;
}

