
table {
    width: 100%;
  }

  .status {
      padding: 3px;
      border-radius: 2px;
  }

  #searchBar {
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
  }

  .class-list-btn {
    width: 100%;
    text-align: left;
    padding: 5px 15px;
}

.new-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
  
