<div class="main centered">

  <mat-card class="form-mat-card">
    <!-- <div class="ocim-logo">
          <img src="../assets/logo.jpg" alt="">
        </div> -->
    <div class="logo-font">
      <span class="ocim-font-green">O</span><span class="ocim-font-red">C</span><span
        class="ocim-font-blue">I</span><span class="ocim-font-yellow">M</span>
    </div>
    <div class="header">
      <h2>Sign In</h2>
    </div>
    <form class="login-form" #loginForm="ngForm" (submit)="onLogin(loginForm)">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Username*">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password*" [type]="!hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="!hide">
          <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Role</mat-label>
        <mat-select (change)="selectedRole($event.target.value)">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-btn">
        <a mat-button class="place-left" routerLink=".">Forget password?</a>
        <span class="space"></span>
        <button mat-raised-button class="place-right" type="submit" color="primary">Sign In</button>
      </div>
    </form>
    
  </mat-card>
  <div class="footer">
    <a class="place-left" routerLink="/signup">Register new Institute</a>
    <span class="space"></span>
    <a routerLink="" class="place-right">Contact Us</a>
  </div>
</div>