.form-mat-card {
    padding: 10px;
    padding: 20px;
    height: fit-content;
    width: 50%;
}
.example-form {
    width: auto;
    height: fit-content;
  }

.txt{
    font-size: x-large;
    font-family: sans-serif;
}

.largetxt{
    font-size: large;
}
.tbl-style {
    border-style: inset;
    width: 100%;
}

.td-row {
    border-style: outset;
}

.table {
    width: 100%;
}
.example-full-width{
    width: 100%;
}

.task-card {
    display: inline-block;
    width: 300px;
    margin: 15px;
}

.heading{
    margin:20px 0;
    color:#ffffff;
    font-size: 36px;
    display: block;
}