<p class="heading">Task And Work</p>
<mat-card>
<mat-tab-group>
  <mat-tab label="Science"> 
    <mat-card class="task-card">
      <mat-card-title>
        <mat-selection-list disabled>
          <mat-list-option>Assignment 1</mat-list-option>
        </mat-selection-list>
        </mat-card-title>
          <p> Issued date: 24-12-2019 </p>
          <p> Submission date: 26-12-2019 </p>
          <p> Desciption: Chapter 1 and 2 with diagrams </p>
      </mat-card>
  </mat-tab>
  <mat-tab label="Maths">
    <mat-card class="task-card">
      <mat-card-title>
        <mat-selection-list disabled>
          <mat-list-option>Assignment 1</mat-list-option>
        </mat-selection-list>
        </mat-card-title>
          <p> Issued date: 24-12-2019 </p>
          <p> Submission date: 26-12-2019 </p>
          <p> Desciption: Chapter 1 and 2 with diagrams </p>
      </mat-card>
  </mat-tab>
  <mat-tab label="English"> 
    <mat-card class="task-card">
      <mat-card-title>
        <mat-selection-list disabled>
          <mat-list-option>Assignment 1</mat-list-option>
        </mat-selection-list>
        </mat-card-title>
          <p> Issued date: 24-12-2019 </p>
          <p> Submission date: 26-12-2019 </p>
          <p> Desciption: Chapter 1 and 2 with diagrams </p>
      </mat-card>
  </mat-tab>
</mat-tab-group>
</mat-card>