<h1 mat-dialog-title>Add Fees Announcement</h1>
<div mat-dialog-content>
    <form class="no-add-timetable">
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Title" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-select placeholder="Class" [formControl]="classannouncement" multiple>
                <mat-select-trigger>
                {{classannouncement.value ? classannouncement.value[0] : ''}}
                <span *ngIf="classannouncement.value?.length > 1" class="example-additional-selection">
                    (+{{classannouncement.value.length - 1}} {{classannouncement.value?.length === 2 ? 'other' : 'others'}})
                </span>
                </mat-select-trigger>
                <mat-option *ngFor="let classannouncement of Classsbj" [value]="classannouncement.value">{{classannouncement.viewValue}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Fees" required min="0" step="100">
        </mat-form-field>
    </form>
    
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="onAddtimetable()">Add</button>
    <button mat-stroked-button color="warn" (click)="onSave()">Cancle</button>
</div>