<div class="heading">Fees</div>
<mat-card>

    <mat-tab-group dynamicHeight>
        <mat-tab label="Fees">
            <mat-card class="form-mat-card">
                <div class="header">
                    <h2>Fees</h2>
                </div>
                
                
            </mat-card>
        </mat-tab>

        <!-- =================================================================================================================================================== -->

        <mat-tab label="Anouncement">
            <mat-card class="form-mat-card">
                <div class="header">
                    <h2>Anouncement</h2>
                </div>
                <button class="new-btn" mat-fab (click)="openForm()" color="primary" aria-label="Example icon-button with a heart icon">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card>
        </mat-tab>
    </mat-tab-group>

    <!-- <div class="container"> -->



    <!-- </div> -->
</mat-card>