<div class="heading">Fees</div>
<mat-card>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Fees">
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Filter
                </mat-expansion-panel-header>
                <form>
                    <div class="report-field-inline">
                        <!-- <div class="mat-body-strong">Class</div> -->

                        <mat-form-field class="report-width-15">
                            <mat-label>Class</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let class of classes" [value]="class.value">
                                    {{class.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <mat-label>Status</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let status of statuss" [value]="status.value">
                                    {{status.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <mat-label>Method</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let method of methods" [value]="method.value">
                                    {{method.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Amount range</div>
                        <mat-form-field class="report-width-15">
                            <input type="number" matInput placeholder="Minimum Amount" min="0">
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <input type="number" matInput placeholder="Maximum Amount" min="0">
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Paid Date</div>
                        <mat-form-field class="report-width-15">
                            <input matInput [matDatepicker]="pickerfromdate" placeholder="From Date">
                            <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerfromdate></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <input matInput [matDatepicker]="pickertodate" placeholder="To Date">
                            <mat-datepicker-toggle matSuffix [for]="pickertodate"></mat-datepicker-toggle>
                            <mat-datepicker #pickertodate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Address</div>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>State</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let state of states" [value]="state.value">
                                    {{state.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>City</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                    {{city.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>Pincode</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let pincode of pincodes" [value]="pincode.value">
                                    {{pincode.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-action-row>
                        <button mat-stroked-button color="warn" type="reset">Cancel</button>
                        <!-- <button mat-flat-button color="primary">Download</button> -->
                        <button mat-flat-button color="primary" (click)="demoprint()">Print</button>
                        <button mat-flat-button color="primary">View</button>
                    </mat-action-row>
                </form>
            </mat-expansion-panel>

            <br>
            <mat-form-field id="searchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <mat-table [dataSource]="dataSource" matSort>

                <!-- rollno Column -->
                <ng-container matColumnDef="rollno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Roll no. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.rollno}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!-- class Column -->
                <ng-container matColumnDef="class">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
                </ng-container>

                <!-- sem Column -->
                <ng-container matColumnDef="sem">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sem </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.sem}} </mat-cell>
                </ng-container>

                <!-- amount Column -->
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                </ng-container>

                <!-- method Column -->
                <ng-container matColumnDef="method">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Method </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.method}} </mat-cell>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let pay">
                        <mat-chip-list>
                            <mat-chip [ngStyle]="{color: getColor(pay.status)}" style="background: #f5f5f5">
                                {{pay.status}}</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <!-- date Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </mat-tab>

        <!-- ============================================================================================================================================= -->

        <mat-tab label="Announcement">
            <br>
            <mat-form-field id="searchBar">
                <input matInput (keyup)="applyFilter_ancmnt($event.target.value)" placeholder="Search">
            </mat-form-field>
            <mat-table [dataSource]="dataSource_ancmnt" matSort #ancmnt_tbl>

                <!-- date Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                </ng-container>

                <!-- class Column -->
                <ng-container matColumnDef="class">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
                </ng-container>

                <!-- title Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>

                <!-- amount Column -->
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns_ancmnt"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns_ancmnt;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #ancmnt_tbl></mat-paginator>

            <button class="new-btn" mat-fab (click)="openForm()" color="primary"
                aria-label="Example icon-button with a heart icon">
                <mat-icon>add</mat-icon>
            </button>
        </mat-tab>
        <!-- ========================================================================================================================================== -->
        <mat-tab label="Cash">
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Filter
                </mat-expansion-panel-header>
                <form>
                    <div class="report-field-inline">
                        <!-- <div class="mat-body-strong">Class</div> -->
                        <mat-form-field class="report-width-15">
                            <mat-label>Class</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let class of classes" [value]="class.value">
                                    {{class.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Amount range</div>
                        <mat-form-field class="report-width-15">
                            <input type="number" matInput placeholder="Minimum Amount" min="0">
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <input type="number" matInput placeholder="Maximum Amount" min="0">
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Apply for cash date</div>
                        <mat-form-field class="report-width-15">
                            <input matInput [matDatepicker]="pickerfromdate_cash" placeholder="From Date">
                            <mat-datepicker-toggle matSuffix [for]="pickerfromdate_cash"></mat-datepicker-toggle>
                            <mat-datepicker #pickerfromdate_cash></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <input matInput [matDatepicker]="pickertodate_cash" placeholder="To Date">
                            <mat-datepicker-toggle matSuffix [for]="pickertodate_cash"></mat-datepicker-toggle>
                            <mat-datepicker #pickertodate_cash></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Address</div>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>State</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let state of states" [value]="state.value">
                                    {{state.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>City</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                    {{city.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>Pincode</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let pincode of pincodes" [value]="pincode.value">
                                    {{pincode.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-action-row>
                        <button mat-stroked-button color="warn" type="reset">Cancel</button>
                        <!-- <button mat-flat-button color="primary">Download</button> -->
                        <button mat-flat-button color="primary" (click)="demoprint()">Print</button>
                        <button mat-flat-button color="primary">View</button>
                    </mat-action-row>
                </form>
            </mat-expansion-panel>
            <br>
            <mat-form-field id="searchBar">
                <input matInput (keyup)="applyFilter_cash($event.target.value)" placeholder="Search">
            </mat-form-field>
            <mat-table [dataSource]="dataSource_cash" matSort #cash_tbl>

                <!-- rollno Column -->
                <ng-container matColumnDef="rollno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Roll no. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.rollno}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!-- class Column -->
                <ng-container matColumnDef="class">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
                </ng-container>

                <!-- sem Column -->
                <ng-container matColumnDef="sem">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sem </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.sem}} </mat-cell>
                </ng-container>

                <!-- amount Column -->
                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                </ng-container>

                <!-- method Column -->
                <ng-container matColumnDef="method">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Method </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.method}} </mat-cell>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell *matCellDef="let pay">
                        <mat-chip-list>
                            <mat-chip [ngStyle]="{color: getColor(pay.status)}" style="background: #f5f5f5">
                                {{pay.status}}</mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <!-- date Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="tbl-right"> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="tbl-right">
                        <mat-checkbox color="primary"></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns_cash"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns_cash;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #cash_tbl></mat-paginator>
        </mat-tab>
    </mat-tab-group>
</mat-card>