<div class="heading">Attendance</div>
<mat-card>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Filter
        </mat-expansion-panel-header>
        <form class="no-add-student">
            <mat-form-field class="report-width-15">
                <mat-label>Class</mat-label>
                <mat-select>
                    <mat-option *ngFor="let class of classes" [value]="class.value">
                        {{class.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field class="report-width-15">
                <mat-label>Subject</mat-label>
                <mat-select>
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">
                        {{subject.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            <!-- <p>Select date range</p> -->
            <mat-form-field class="report-width-15">
                <input matInput [matDatepicker]="pickerfromdate" placeholder="From Date">
                <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerfromdate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="report-width-15">
                <input matInput [matDatepicker]="pickertodate" placeholder="To Date">
                <mat-datepicker-toggle matSuffix [for]="pickertodate"></mat-datepicker-toggle>
                <mat-datepicker #pickertodate></mat-datepicker>
            </mat-form-field>
            <!-- <p>Select attendance range</p> -->
            <mat-form-field class="report-width-15">
                <input type="number" matInput placeholder="Minimum Attendance" min="0">
            </mat-form-field>
            <mat-form-field class="report-width-15">
                <input type="number" matInput placeholder="Maximum Attendance" min="0">
            </mat-form-field>
            <mat-action-row>
                <button mat-stroked-button color="warn" type="reset">Cancel</button>
                <!-- <button mat-flat-button color="primary">Download</button> -->
                <button mat-flat-button color="primary" (click)="demoprint()">Print</button>
                <button mat-flat-button color="primary">View</button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>

    <!-- ======================================================================================================================= -->

    <br>
    <mat-form-field id="searchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        <!-- <mat-icon matSuffix>search</mat-icon> -->
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <!-- <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container> -->

        <!-- rollno Column -->
        <ng-container matColumnDef="rollno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.rollno}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="classnm">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{student.classnm}} </mat-cell>
        </ng-container>

        <!-- Maths Column -->
        <ng-container matColumnDef="Maths">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Maths </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Maths}} </mat-cell>
        </ng-container>

        <!-- Sci Column -->
        <ng-container matColumnDef="Sci">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sciences </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Sci}} </mat-cell>
        </ng-container>

        <!-- English Column -->
        <ng-container matColumnDef="English">
            <mat-header-cell *matHeaderCellDef mat-sort-header> English </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.English}} </mat-cell>
        </ng-container>

        <!-- SS Column -->
        <ng-container matColumnDef="SS">
            <mat-header-cell *matHeaderCellDef mat-sort-header> SS </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.SS}} </mat-cell>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="Total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Total}} </mat-cell>
        </ng-container>

        <!-- action Column -->
        <!-- <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="tbl-right"> Action </mat-header-cell>
            <mat-cell *matCellDef="let element" class="tbl-right">
                <button mat-icon-button color="primary" matTooltip="View">
                    <mat-icon>visibility</mat-icon>
                </button>
            </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>