<mat-card>
  <!-- graph -->
    <mat-card>
        <div class="bar-chart-container">
          <canvas id="myChart"></canvas>
        </div>
      </mat-card>
      <div class="container">
      <mat-card class="whats-new">
        <mat-card-title>What's new!</mat-card-title>
          <mat-card-content>
            <mat-list role="list">
              <mat-list-item role="listitem"><p><mat-icon aria-hidden="false" aria-label="leavenote">flight_takeoff</mat-icon>  Branch manager <b>Harshil Sureja</b> add new <b>notice.</b></p></mat-list-item>
              <mat-list-item role="listitem"><p><mat-icon aria-hidden="false" aria-label="leavenote">flight_takeoff</mat-icon>  Branch manager <b>Harshil Sureja</b> add new <b>notice.</b></p></mat-list-item>
              <mat-list-item role="listitem"><p><mat-icon aria-hidden="false" aria-label="leavenote">flight_takeoff</mat-icon>  Branch manager <b>Harshil Sureja</b> add new <b>notice.</b></p></mat-list-item>
            </mat-list>
          </mat-card-content>
      </mat-card>
      
      <mat-card class="total">
        <mat-card-title>Total users</mat-card-title>
          <mat-card-content><table border="0">
            <tr>
              <td>
                <span>Institutes</span>
              </td>
              <td>
                <span>05</span>
              </td>
            </tr>
            <tr>

              <td>
                <span>Branches</span>
              </td>
              <td>
                <span>35</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Faculties</span>
              </td>
              <td>
                <span>202</span>
              </td>
            </tr>
            <tr>
              <td>
                
              </td>
              <td>
                <span>
                  <hr>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Total</span>
              </td>
              <td>
                <span>490</span>
              </td>
            </tr>
          </table>

          </mat-card-content>
      </mat-card>
    </div>
</mat-card>

