<p class="heading">Profile</p>
<mat-card>
    <form class="no-add-faculty">
        <mat-card style="background: none; box-shadow: none;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <!-- <mat-card-title><span>User name</span></mat-card-title>
                <mat-card-subtitle><span>User Type</span></mat-card-subtitle> -->
            </mat-card-header>
        </mat-card>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="First name" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Middle name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Last name" required>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="pickerJoindob" placeholder="Date of birth" required>
            <mat-datepicker-toggle matSuffix [for]="pickerJoindob"></mat-datepicker-toggle>
            <mat-datepicker #pickerJoindob></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="School Name" required>
        </mat-form-field>
        <div class="gndr">
            <p><label class="half-width">Select Gender</label></p>
            <mat-radio-group aria-label="Select Gender" class="half-width" color="primary" required>
                <mat-radio-button checked value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field class="full-width">
            <textarea type="text" matInput placeholder="Address" rows="3" required></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea type="text" matInput placeholder="Bio" rows="3"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <mat-select required>
                <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{city.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>State</mat-label>
            <mat-select required>
                <mat-option *ngFor="let state of states" [value]="state.value">
                    {{state.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="6" placeholder="Postal Code" required>
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Phone number" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                 enter a valid email address
             </mat-error>
             <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Password" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Confirm password" required>
        </mat-form-field>
        <!-- <div class="right"> -->
            <br>
        <mat-action-row>
            <button mat-flat-button color="primary" (click)="onUpdate()">Update</button>
            <button mat-stroked-button color="warn" (click)="onClearbranch()">Cancle</button>
        </mat-action-row>
        <!-- </div> -->
    </form>
</mat-card>