<div class="heading">Profile</div>
<mat-card>
    <mat-card class="no-shadow">
        <mat-card-title>Personal details</mat-card-title>
        <form class="no-add-branch">
            <mat-card style="background: none; box-shadow: none;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <!-- <mat-card-title><span>User name</span></mat-card-title>
                <mat-card-subtitle><span>User Type</span></mat-card-subtitle> -->
                </mat-card-header>
            </mat-card>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="First name" required disabled value="Shivam">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Middle name" required disabled value="M.">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Last name" required disabled value="Patel">
            </mat-form-field>
            <br>
            <div class="gndr">
                <p><label class="half-width">Gender : </label><label class="half-width">{{gender}}</label></p>
                <!-- <mat-radio-group aria-label="Select Gender" class="half-width" color="primary" required disabled>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
            </mat-radio-group> -->
            </div>
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerJoindob" placeholder="Date of birth" required disabled value="date.value">
                <mat-datepicker-toggle matSuffix [for]="pickerJoindob"></mat-datepicker-toggle>
                <mat-datepicker #pickerJoindob></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="School Name" required disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea type="text" matInput placeholder="Address" rows="3" value="A-17, Abhishek Socity, bopal" required disabled></textarea>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>City</mat-label>
                <mat-select value="ahmedabad" required disabled>
                    <mat-option value="ahmedabad">
                        Ahmedabad
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>State</mat-label>
                <mat-select value="gujarat" required disabled>
                    <mat-option value="gujarat">
                        Gujarat
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput #postalCode maxlength="6" placeholder="Postal Code" value="380058" required disabled>
                <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
            </mat-form-field>
        </form>
    </mat-card>
    
    <br>
    <mat-card class="no-shadow">
        <mat-card-title>Security details</mat-card-title>
        <form class="no-add-branch">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Phone number" value="9564642377" required disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Parent Contact" value="9978545313" required disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Email" value="shivam@gmail.com" required disabled>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Old password" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="New password"  required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Confirm new password" required>
            </mat-form-field>

            <!-- <div class="right"> -->
            <mat-action-row>
                <button mat-flat-button color="primary" align="right" (click)="onChangePassword()">Change password</button>
                <button mat-stroked-button color="warn" align="right" (click)="onClearbranch()">Cancel</button>
            </mat-action-row>
            <!-- </div> -->
        </form>
    </mat-card>

<!--<mat-card>
    <form class="no-add-faculty" name="profile">
        <mat-card style="background: none; box-shadow: none;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
            </mat-card-header>
        </mat-card>
        <mat-form-field class="full-width">
            <input name="fname" type="text" matInput placeholder="First name" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Middle name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Last name" required>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="pickerJoindob" placeholder="Date of birth" required>
            <mat-datepicker-toggle matSuffix [for]="pickerJoindob"></mat-datepicker-toggle>
            <mat-datepicker #pickerJoindob></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="School Name" required>
        </mat-form-field>
        <div class="gndr">
            <p><label class="half-width">Select Gender</label></p>
            <mat-radio-group aria-label="Select Gender" class="half-width" color="primary" required>
                <mat-radio-button checked value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field class="full-width">
            <textarea type="text" matInput placeholder="Address" rows="3" required></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea type="text" matInput placeholder="Bio" rows="3"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <mat-select required>
                <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{city.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>State</mat-label>
            <mat-select required>
                <mat-option *ngFor="let state of states" [value]="state.value">
                    {{state.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="6" placeholder="Postal Code" required>
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Phone number" maxlength="10" minlength="10">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                 enter a valid email address
             </mat-error>
             <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Password" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Confirm password" required>
        </mat-form-field>
            <br>
        <mat-action-row>
            <button mat-flat-button color="primary" (click)="onUpdate()">Update</button>
            <button mat-stroked-button color="warn" (click)="onClearbranch()">Cancle</button>
        </mat-action-row>
    </form>
</mat-card>-->