.large-width {
    width: 85%;
}

.half-width {
    width: 49.05%
}

.submit-btn {
    width: 12%;
}

.small-width {
    width: 20%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

table {
    width: 100%;
  }
  
  #searchBar {
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
  }