
mat-form-field{
    margin: 0 10px;
    display: inline-block;
}

mat-radio-button{
    margin: 0 5px;
}

button{
    margin: 5px;
}

.tbl-right {
    display: flex;
    justify-content: flex-end;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 50px;
    width: 50px;
  }

.full-width {
    display: inline-block;
    width: 30%;
    margin: 0 10px;
    /* max-width: 85%; */
}

.half-width {
    display: inline;
    /* width: 500px; */
    margin: 0 10px;
    max-width: 30%;
}

#searchBar {
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    margin: auto;
}

/* .right{
    float: right;
} */

mat-panel-title{
    width: 50%;
}

.example-card {
    display: inline-block;
    margin: 15px;
    max-width: 25%;
}

.delete{
    right: 0 !important;
}


.new-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
}