<h1 mat-dialog-title>Add Task & work</h1>
<mat-divider></mat-divider>
<br>
<form action="" [formGroup]="addTaskForm" #addTask (submit)="onSave()">
    <div>
        <mat-form-field class="half-width">
            <mat-select placeholder="Select Class" formControlName="class" required>
                <mat-option value="tybca">TYBCA</mat-option>
            </mat-select>
            <mat-error *ngIf="addTaskForm.get('class').invalid">Please select class.</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
            <mat-select placeholder="Select Subject" formControlName="subject" required>
                <mat-option value="OSOS">OSOS</mat-option>
            </mat-select>
            <mat-error *ngIf="addTaskForm.get('subject').invalid">Please select subject.</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput [matDatepicker]="IssueDatePicker" placeholder="Issue date" [value]="date.value"
                formControlName="issueDate" required>
            <mat-datepicker-toggle matSuffix [for]="IssueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #IssueDatePicker></mat-datepicker>
            <mat-error *ngIf="addTaskForm.get('issueDate').invalid">Please select Issue date.</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput [matDatepicker]="submissionDatePicker" placeholder="Submission date"
                formControlName="submissionDate" required>
            <mat-datepicker-toggle matSuffix [for]="submissionDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #submissionDatePicker></mat-datepicker>
            <mat-error *ngIf="addTaskForm.get('submissionDate').invalid">Please select Issue date.</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Title" formControlName="title" required>
            <mat-error *ngIf="addTaskForm.get('title').invalid">Please enter title.</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-stroked-button type="reset" (click)="resetForm()" color="warn">Cancel</button>
        <button mat-flat-button type="submit" color="primary" cdkFocusInitial>Add</button>
    </div>
</form>