.task-work-container {
    display: flex;
}

.class-list-container {
    width: 20% !important;

}

.active {
    background: rgba(63, 81, 181, 0.12) !important;
}

.class-list-container, .subject-list-container {
    height: fit-content;
    padding: 20px;
}

.subject-list-container {
    width: 75%;
}

.class-list-btn {
    width: 100%;
    text-align: left;
    padding: 5px 15px;
}




.new-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
}