<p class="heading">Task & Work</p>
<mat-card class="task-work-container">
    <!-- class list -->
    <div class="class-list-container">
        <p class="mat-h1">Class list</p>

        <button mat-button class="class-list-btn"
            [ngClass]="{'active': selectedClass == class}"
            (click)="chooseClass($event, class)"
            *ngFor="let class of classNames">
            {{ class.name }}
        </button>
    </div>

    <!-- subject tabs and its tasks -->
    <div class="subject-list-container">
        <p class="mat-h1">Class : {{ selectedClass.name }}</p>
        <mat-tab-group dynamicHeight (focusChange)="tabClick($event)">

            <mat-tab *ngFor="let subject of selectedClass.subjects" [label]="subject.name">
                <mat-card class="task-card" *ngFor="let task of subject.tasks">
                    <p> Issued date: {{ task.iss_date }} </p>
                    <p> Submission date: {{ task.sub_date }} </p>
                    <p> Title: {{ task.title }} </p>
                    <p> Desciption: {{ task.desciption }} </p>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>

</mat-card>












<button class="new-btn" mat-fab (click)="openForm()" aria-label="Example icon-button with a heart icon">
    <mat-icon>add</mat-icon>
</button>