<p class="heading">Dashboard</p>
<!-- graph -->
<mat-card>
  <div class="bar-chart-container">
    <canvas id="myChart"></canvas>
  </div>
  <div mat-card-actions align="end">
    <button mat-icon-button (click)="printOut('myChart')">
      <mat-icon>print</mat-icon>
    </button>
  </div>
</mat-card>
<div class="container">
  <mat-card class="whats-new">
    <mat-card-title>What's new!</mat-card-title>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="announcement">announcement</mat-icon>
          <p><b>New Notice</b> about kite festival added</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="assignment">assignment</mat-icon>
          <p><b>Science Task</b> assigned</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="event_note">event_note</mat-icon>
          <p><b>Exam schedule</b> is uploaded</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="assessment">assessment</mat-icon>
          <p><b>Exam result</b> is uploaded</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>