<div class="heading">Dashboard</div>
<mat-card>
    <mat-card>
        <mat-card-title>Attendance</mat-card-title>
        <div class="bar-chart-container">
          <canvas id="myChart"></canvas>
          <script>
    
          </script>
        </div>
      </mat-card>
      <mat-card>
        <mat-card-title>Unit Test 1</mat-card-title>
        <div class="bar-chart-container">
          <canvas id="myresult"></canvas>
          <script>
    
          </script>
        </div>
      </mat-card>
</mat-card>
    