<div class="main centered">
    <mat-card class="form-mat-card">
        <mat-card-title align="start">Forgot password?</mat-card-title>
        <form class="forgot-form" [formGroup]="forgotForm" #forgotform="ngForm">
            <mat-form-field class="full-width" align="start">
                <input type="text" matInput placeholder="Email" required email ngModel name="email" formControlName="email">
                <mat-error *ngIf="forgotForm.get('email').invalid">Please enter valid email
                </mat-error>
                <mat-error *ngIf="user">User not found!</mat-error>
            </mat-form-field>
            <p align="start">We've sent password instruction to your email address. Please follow the instructions to reset the password. If you didn't receive email, Click here to resend the password reset email.</p>
            <div class="form-btn">
                <a routerLink="/login"><button mat-button>Back to login</button></a>
                <span class="space"></span>
                <button mat-raised-button color="primary">Send</button>
            </div>
        </form>
    </mat-card>

    <!-- <mat-card class="form-mat-card">
        <mat-card-title align="start">Reset password</mat-card-title>
        <form class="forgot-form" [formGroup]="forgotForm" #forgotform="ngForm">
            <br>
            <mat-form-field class="full-width" align="start">
                <input [type]="!hide ? 'password' : 'text'" matInput placeholder="New password" required ngModel name="password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
                <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="forgotForm.get('password').invalid">Please enter the password</mat-error>
                <mat-error *ngIf="forgotForm">Password is incorrect!</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" align="start">
                <input [type]="!hide ? 'password' : 'text'" matInput placeholder="Confirm Password" required ngModel name="password" formControlName="confirmpassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide">
                <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="forgotForm.get('confirmpassword').invalid">Please enter the password</mat-error>
                <mat-error *ngIf="forgotForm">Password is incorrect!</mat-error>
            </mat-form-field>
            <div class="form-btn"> -->
                <!-- <a routerLink="/login"><button mat-button>Back to login</button></a> -->
                <!-- <span class="space"></span>
                <button mat-raised-button color="primary">Change password</button>
            </div>
        </form>
    </mat-card> -->
</div>