<p class="heading">Syllabus</p>
<mat-card>
    <!-- -------------------------- New version ------------------------ -->
    <!-- <mat-list>
        <h3 mat-subheader>Syllabus</h3>
        <mat-card class="file-list-card">
            <mat-list-item>
                <mat-icon mat-list-icon>note</mat-icon>
                <h4 mat-line>Syllabus</h4>
                <p mat-line>02-01-2020</p>
                <a mat-icon-button routerLink="." download="../../../../../assets/timetable.jpg">
                    <mat-icon>arrow_downward</mat-icon>
                </a>
            </mat-list-item>
        </mat-card>
    </mat-list> -->
    <div *ngFor="let file of temp">
        <a mat-icon-button [attr.href]="file.fileSoureceUrl" target="_blank" [attr.download]="file.fileSoureceUrl">
            <mat-icon>save_alt</mat-icon>
            download
        </a>
    </div>
    <!-- ----------------------- New version 2 ------------------------- -->
    <mat-form-field id="searchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search files">
    </mat-form-field>


    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="icons">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let file">
                <mat-icon>note</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let file">
                <span>{{file.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="uploadDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date </mat-header-cell>
            <mat-cell *matCellDef="let file"> {{file.uploadDate | date: 'longDate'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fileOwnerName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-right"> Upload by </mat-header-cell>
            <mat-cell *matCellDef="let file" class="cell-right"> {{file.ownerName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let file">
                <a mat-icon-button (click)="onDownloadSyllabus(file.name, file.fileSoureceUrl)" download>
                    <mat-icon>save_alt</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let file; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


    <!-- -------------------------- Old Version ----------------------------- -->
    <!-- <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Syllabus</mat-card-title>
            <mat-card-subtitle>10/12/2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/timetable.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Syllabus of OSOS
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" class="delete" (click)="onDownloadSyllabus()">Download</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Syllabus</mat-card-title>
            <mat-card-subtitle>10/12/2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/timetable.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Syllabus of OSOS
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" class="delete" (click)="onDownloadSyllabus()">Download</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Syllabus</mat-card-title>
            <mat-card-subtitle>10/12/2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/timetable.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Syllabus of OSOS
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" class="delete" (click)="onDownloadSyllabus()">Download</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Syllabus</mat-card-title>
            <mat-card-subtitle>10/12/2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/timetable.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Syllabus of OSOS
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" class="delete" (click)="onDownloadSyllabus()">Download</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Syllabus</mat-card-title>
            <mat-card-subtitle>10/12/2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/timetable.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Syllabus of OSOS
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" class="delete" (click)="onDownloadSyllabus()">Download</button>
        </mat-card-actions>
    </mat-card>-->
</mat-card>