
mat-form-field{
    margin: 0 10px;
    display: inline-block;
}

mat-radio-button{
    margin: 0 5px;
}

button{
    margin: 5px;
}

.example-card {
  max-width: 400px;
}

/* .header {
    margin-left: 28px;
    text-align: left;
} */

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  
  /* .form-mat-card {
    display: inline-table;
    margin: 5% ;
    /* padding: 10px; * /
    padding: 20px;
    width: auto;
    /* padding: 10px;
    margin: auto;
    padding: 20px;
    height: fit-content;
    width: 400px; * /
} */

.mat-column-icons {
    flex: 0 0 3% !important;
}

.mat-column-name {
    flex: 0 0 75% !important;
}

.mat-column-uploadDate {
    flex: 0 0 13% !important;
}

.mat-column-fileOwnerName {
    flex: 0 0 10% !important;
}

.verticle_align_center {
    line-height: 100px;
    white-space: nowrap;
}

.full-width {
    display: inline-block;
    width: 30%;
    margin: 0 10px;
    /* max-width: 85%; */
}

.half-width {
    display: inline;
    /* width: 500px; */
    margin: 0 10px;
    max-width: 30%;
}

/* .right{
    float: right;
} */

mat-panel-title{
    width: 50%;
}

.example-card {
    display: inline-block;
    margin: 15px;
    max-width: 25%;
}

.delete{
    right: 0 !important;
}

.file-list-card {
    box-shadow: none !important;
    border: 2px solid #e0e0e0;
    width: 300px;
    padding: 0px;
}


.new-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#searchBar {
    width: 98%;
}