<div class="heading">Exam Schedule</div>
<br>
<mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Regular Exam Schedule</mat-card-title>
    <mat-card-subtitle>10/12/2019</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../../../assets/timetable.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
        This timetable is regular timetable, saturday and sunday exam schedule follow.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
        <button mat-stroked-button color="warn" class="delete" (click)="onDeletetimetable()">Delete</button>
  </mat-card-actions>
</mat-card>

<button class="new-btn" mat-fab (click)="openForm()" color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon>add</mat-icon>
</button>
</mat-card>