<div class="main centered">

  <mat-card class="form-mat-card">
  <div class="header"> 
  <h2>Sign Up</h2>
  </div>
  <mat-divider></mat-divider>
  <mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="regformgroup">
      <form [formGroup]="regformgroup">
        <ng-template matStepLabel>Personal Details</ng-template>
        <div>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="First name" formControlName="fname" required>
            <mat-error *ngIf="regformgroup.get('fname').invalid">First name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Middle name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Last name" required formControlName="lname">
            <mat-error *ngIf="regformgroup.get('lname').invalid">Last name is required</mat-error>
        </mat-form-field>
        
        <div class="gndr">
            <p><label class="half-width">Select Gender</label></p>
            <mat-radio-group aria-label="Select Gender" class="half-width" color="primary" formControlName="gender" required>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
            </mat-radio-group>
            <!-- <mat-error *ngIf="regformgroup.get('gender').invalid">Gender is required</mat-error> -->
        </div>
        <mat-form-field class="address">
            <textarea type="text" matInput placeholder="Address" rows="3" required formControlName="address"></textarea>
            <mat-error *ngIf="regformgroup.get('address').invalid">Address is required</mat-error>
        </mat-form-field>
        <br>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Institute Details</ng-template>
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Institute Name" required formControlName="iname">
          <mat-error *ngIf="secondFormGroup.get('iname').invalid">Institute name is required</mat-error>
        </mat-form-field><mat-form-field class="full-width">
            <mat-label>State</mat-label>
            <mat-select required formControlName="state">
              <mat-option value="option">Gujarat</mat-option>
            </mat-select>
            <mat-error *ngIf="secondFormGroup.get('state').invalid">State is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="address">
            <textarea type="text" matInput placeholder="Address" rows="3" required formControlName="address"></textarea>
            <mat-error *ngIf="secondFormGroup.get('address').invalid">Address is required</mat-error>
        </mat-form-field>
        <br>
              
        <mat-form-field class="full-width">
          <mat-label>City</mat-label>
          <mat-select required formControlName="city">
            <mat-option value="option">Ahmedabad</mat-option>
          </mat-select>
          <mat-error *ngIf="secondFormGroup.get('city').invalid">City is required</mat-error>
      </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput #postalCode minlength="6" maxlength="6" placeholder="Postal Code" required formControlName="pcode">
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="regformgroup">
      <form [formGroup]="regformgroup">
      <ng-template matStepLabel>Security Details</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Phone number"  [formControl]="pnum" required>
        <mat-error *ngIf="pnum.hasError('required')">
          Phone number is <strong>required</strong>
        </mat-error>
        <mat-hint align="end">{{pnum.value.length}} / 10</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" [formControl]="emailFormControl" required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" minlength="8" [formControl]="npass" required>
        <mat-error *ngIf="npass.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Confirm password" [formControl]="pass" required>
        <mat-error *ngIf="pass.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        
      </div>
    </form>
    </mat-step>
  </mat-vertical-stepper>
  <div class="footer">
  <button mat-button color="primary" routerLink="/login">Sign In Instead</button>
  <button mat-raised-button color="primary" class="place-left">Sign Up</button>
  
  <!--<a routerLink="" class="place-left">Contact Us</a>-->
</div>
</mat-card>

</div>