.heading{
  margin:20px 0;
  color:#ffffff;
  font-size: 36px;
  display: block;
}

mat-form-field{
  margin: 0 10px;
  display: inline-block;
}

mat-radio-button{
  margin: 0 5px;
}

button{
  margin: 5px;
}

/* .header {
  margin-left: 28px;
  text-align: left;
} */

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 50px;
  width: 50px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 50px;
  width: 50px;
}

/* .form-mat-card {
  display: inline-table;
  margin: 5% ;
  /* padding: 10px; * /
  padding: 20px;
  width: auto;
  /* padding: 10px;
  margin: auto;
  padding: 20px;
  height: fit-content;
  width: 400px; * /
} */

.mat-card {
  display: block;
  margin: 10%;
  width: 75%;
  padding: 10px;
  margin-top: 5%;
}

.gndr{
  display: inline-block;
  width: 46.9%;
}

.gndr .half-width{
  margin: auto !important;
}

.full-width {
  display: inline-block;
  width: 46.9%;
  /* margin: 0 10px; */
  /* max-width: 85%; */
}
.address {
  display: inline-block;
  width: -webkit-fill-available;
  margin: 0 10px;
}

.half-width {
  display: inline;
  /* width: 500px; */
  margin: 0 10px;
  max-width: 40%;
}

/* .right{
  float: right;
} */


.header{
  font-family: sans-serif;
  color: darkslateblue;
  text-align: center;
  font-size: x-large;
}
.main {
  display: block;
  height: 100%;
}

.form-mat-card {
  padding: 10px;
  margin: 0 auto;
  padding: 20px;
  height: fit-content;
  width: 600px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  display:flex;
  align-items: stretch;
  width: 430px;
  margin: 15px auto;
}

.place-right {
    right: 362px;
} 
.place-left {
  position: absolute;
  left: 234px;
  line-height: 30px;
} 


.signin {
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  font-family: 'Google Sans',arial,sans-serif;
  font-weight: bolder;
  letter-spacing: .25px;
  line-height: 30px;
  padding: 6px 0;
  position: relative;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  line-height: 43px;
  left: 500px;
}