  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Class Column -->
  <!-- <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef> Class </th>
    <td mat-cell *matCellDef="let element"> {{element.class}} </td>
  </ng-container> -->

  <!-- City Column -->
  <!-- <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container> -->

   <!-- Action Column -->
   <!-- <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>visibility</mat-icon>
          </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<!-- ------------------- ABOVE CODE IS ONLY FOR TESTING PERSPOSE ------------------- -->
<!-- 
<app-dashboard id="dashboard" class="dashboard"
[ngClass]="{
  'admin-theme': StudentService.role=='Admin',
  'owner-theme': StudentService.role=='Owner',
  'bm-theme': StudentService.role=='Branch Manager',
  'faculty-theme': StudentService.role=='Faculty',
  'student-theme': StudentService.role=='Student'
  }"></app-dashboard> -->
  <!-- <app-signup></app-signup> -->
  <app-login></app-login>