<div class="heading">Payments</div>
<mat-card>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Filter
        </mat-expansion-panel-header>
        <form class="no-add-student">
            <mat-form-field class="report-width-15">
                <mat-label>State</mat-label>
                <mat-select>
                    <mat-option value="gujarat">Gujarat</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="report-width-15">
                <mat-label>City</mat-label>
                <mat-select>
                    <mat-option value="ahmedabad">
                        Ahmedabad
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <!-- <p>Select date range</p> -->
            <mat-form-field class="report-width-10">
                <input matInput [matDatepicker]="pickertodate" placeholder="To Date">
                <mat-datepicker-toggle matSuffix [for]="pickertodate"></mat-datepicker-toggle>
                <mat-datepicker #pickertodate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="report-width-10">
                <input matInput [matDatepicker]="pickerfromdate" placeholder="From Date">
                <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerfromdate></mat-datepicker>
            </mat-form-field>
            <mat-action-row>
                <button mat-stroked-button color="warn" type="reset">Cancle</button>
                <!-- <button mat-flat-button color="primary">Download</button> -->
                <button mat-flat-button color="primary" (click)="generateReport()">Print</button>
                <button mat-flat-button color="primary">View</button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>
    <!-- <mat-card style="box-shadow: none;">
        <mat-card-title>Payment history</mat-card-title> -->
        <mat-form-field id="searchBar">
            <input matInput (keyup)="applyFilter_pay($event.target.value)" placeholder="Search">
        </mat-form-field>
        <mat-table [dataSource]="dataSource_pay" class="tbl-shadow" matSort>

            <!-- date Column -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let payment"> {{payment.date}} </mat-cell>
            </ng-container>

            <!-- institute name Column -->
            <ng-container matColumnDef="institute">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Institute </mat-header-cell>
                <mat-cell *matCellDef="let payment"> {{payment.institute}} </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let payment"> {{payment.email}} </mat-cell>
            </ng-container>

            <!-- phone Column -->
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                <mat-cell *matCellDef="let payment"> {{payment.phone}} </mat-cell>
            </ng-container>

            <!-- students Column -->
            <ng-container matColumnDef="students">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Students </mat-header-cell>
                <mat-cell *matCellDef="let payment"> {{payment.students}} </mat-cell>
            </ng-container>

            <!-- paymnet_method Column -->
            <ng-container matColumnDef="paymnet_method">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Paymnet Method </mat-header-cell>
                <mat-cell *matCellDef="let payment"> {{payment.paymnet_method}} </mat-cell>
            </ng-container>

            <!-- amount Column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                <mat-cell *matCellDef="let payment"> {{payment.amount}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns_pay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns_pay;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <!-- </mat-card> -->
</mat-card>