<p class="heading">Dashboard</p>
<mat-card style="box-shadow: none; background: none;">
    <!-- graph -->
      <mat-card>
          <div class="bar-chart-container">
            <canvas id="myChart"></canvas>
          </div>
        </mat-card>
  
        <mat-card class="whats-new">
          <mat-card-title>What's new!</mat-card-title>
            <mat-card-content>
              <p> New notice added</p>
              <p> New notice added</p>
              <p> New notice added</p>
              <p> New notice added</p>
              <p> New notice added</p>
  
            </mat-card-content>
        </mat-card>
  
        <mat-card class="total">
          <mat-card-title>What's new!</mat-card-title>
            <mat-card-content>
              <p> New notice added</p>
              <p> New notice added</p>
              <p> New notice added</p>
              <p> New notice added</p>
              <p> New notice added</p>
  
            </mat-card-content>
        </mat-card>
  </mat-card>
  
  