<div class="heading">Faculties</div>
<mat-card>
    <mat-tab-group dynamicHeight>
        <!-- view Faculties -->
        <mat-tab label="View faculties">
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Filter
                </mat-expansion-panel-header>
                <form>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Class and subject</div>
                        <mat-form-field class="report-width-15">
                            <mat-label>Class</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let class of classes" [value]="class.value">
                                    {{class.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <mat-label>Subject</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let subject of subjects" [value]="subject.value">
                                    {{subject.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Joining Date</div>
                        <mat-form-field class="report-width-15">
                            <input matInput [matDatepicker]="pickerfromdate" placeholder="From Date">
                            <mat-datepicker-toggle matSuffix [for]="pickerfromdate"></mat-datepicker-toggle>
                            <mat-datepicker #pickerfromdate></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <input matInput [matDatepicker]="pickertodate" placeholder="To Date">
                            <mat-datepicker-toggle matSuffix [for]="pickertodate"></mat-datepicker-toggle>
                            <mat-datepicker #pickertodate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Experience year</div>
                        <mat-form-field class="report-width-15">
                            <input type="number" matInput placeholder="Minimum Experience" min="0">
                        </mat-form-field>
                        <mat-form-field class="report-width-15">
                            <input type="number" matInput placeholder="Maximum Experience" min="0">
                        </mat-form-field>
                    </div>
                    <div class="report-field-inline">
                        <div class="mat-body-strong">Address</div>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>State</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let state of states" [value]="state.value">
                                    {{state.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>City</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                    {{city.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width" class="report-width-15">
                            <mat-label>Pincode</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let pincode of pincodes" [value]="pincode.value">
                                    {{pincode.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-card-actions align="end">
                        <button mat-stroked-button color="warn" type="reset">Cancle</button>
                        <!-- <button mat-flat-button color="primary">Download</button> -->
                        <button mat-flat-button color="primary" (click)="demoprint()">Print</button>
                        <button mat-flat-button color="primary">View</button>
                    </mat-card-actions>
                </form>
            </mat-expansion-panel>
            <br>
            <mat-form-field id="searchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <!-- <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container> -->

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <!-- phone Column -->
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef> Phone no. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
                </ng-container>

                <!-- action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="tbl-right"> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="tbl-right">
                        <!-- <button mat-icon-button color="primary" matTooltip="View">
                            <mat-icon>visibility</mat-icon>
                        </button> -->
                        <button mat-icon-button color="primary" matTooltip="Edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <mat-slide-toggle color="primary" [checked]="checked" [matTooltip]="!checked ? 'Enable' : 'Disable'">
                        </mat-slide-toggle>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>



        </mat-tab>

        <!-- ======================================================================================================================= -->

        <!-- add faculty -->
        <mat-tab label="Add faculty">
            <br>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Add faculty using email id
                        </mat-panel-title>
                        <mat-panel-description>
                            Click here to {{panelOpenState2 ? 'close' : 'open'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <form action="" [formGroup]="addFacultybyemailForm">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Email" formControlName="byemail" email required>
                            <mat-error *ngIf="addFacultybyemailForm.get('byemail').invalid">Please enter valid email
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-card-actions>
                            <button mat-flat-button color="primary" type="submit">Add</button>
                            <button mat-stroked-button color="warn" type="reset">Cancel</button>
                        </mat-card-actions>
                    </form>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Register new faculty
                        </mat-panel-title>
                        <mat-panel-description>
                            Click here to {{panelOpenState1 ? 'close' : 'open'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- <mat-card class="form-mat-card"> -->
                    <!-- <div class="header">    
                            <h2>Add Faculty</h2>
                        </div>   -->
                    <form action="" [formGroup]="addFacultyForm">
                        <mat-card class="no-shadow">
                            <mat-card-title>Personal details</mat-card-title>
                            <mat-card style="background: none; box-shadow: none;">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <!-- <mat-card-title><span>User name</span></mat-card-title>
                                    <mat-card-subtitle><span>User Type</span></mat-card-subtitle> -->
                                </mat-card-header>
                            </mat-card>
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="First name" formControlName="firstname" required>
                                <mat-error *ngIf="addFacultyForm.get('firstname').invalid">Please enter first name
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Middle name" formControlName="middlename" required>
                                <mat-error *ngIf="addFacultyForm.get('middlename').invalid">Please enter middle name
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Last name" formControlName="lastname" required>
                                <mat-error *ngIf="addFacultyForm.get('lastname').invalid">Please enter last name
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput [matDatepicker]="pickerJoindob" placeholder="Date of birth" formControlName="dateofbirth" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerJoindob"></mat-datepicker-toggle>
                                <mat-datepicker #pickerJoindob></mat-datepicker>
                                <mat-error *ngIf="addFacultyForm.get('dateofbirth').invalid">Please select date of birth
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput [matDatepicker]="pickerJoinjd" placeholder="Joining date" formControlName="joiningdate" required>
                                <mat-datepicker-toggle matSuffix [for]="pickerJoinjd"></mat-datepicker-toggle>
                                <mat-datepicker #pickerJoinjd></mat-datepicker>
                                <mat-error *ngIf="addFacultyForm.get('joiningdate').invalid">Please select joining date
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input type="number" matInput placeholder="Experience" formControlName="experienceyear" required min="0">
                                <mat-error *ngIf="addFacultyForm.get('experienceyear').invalid">Please select experience year
                                </mat-error>
                            </mat-form-field>
                            <div class="gndr">
                                <p><label class="half-width">Select Gender</label></p>
                                <mat-radio-group aria-label="Select Gender" class="half-width" color="primary">
                                    <mat-radio-button value="Male" checked>Male</mat-radio-button>
                                    <mat-radio-button value="Female">Female</mat-radio-button>
                                    <mat-radio-button value="Other">Other</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </mat-card>
                        <br>
                        <mat-card class="no-shadow">
                            <mat-card-title>Class and subject details</mat-card-title>
                            <mat-form-field class="full-width">
                                <mat-label>Class</mat-label>
                                <mat-select formControlName="class" required>
                                    <mat-option *ngFor="let class of classes" [value]="class.value">
                                        {{class.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addFacultyForm.get('class').invalid">Please select class
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>Subject</mat-label>
                                <mat-select formControlName="subject" required>
                                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">
                                        {{subject.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addFacultyForm.get('subject').invalid">Please select subject
                                </mat-error>
                            </mat-form-field>
                            <button class="no-full-width" mat-icon-button color="primary" aria-label="add more class and subject">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-card>
                        <br>
                        <mat-card class="no-shadow">
                            <mat-card-title>Address details</mat-card-title>
                            <mat-form-field class="full-width">
                                <textarea type="text" matInput placeholder="Address" rows="3" formControlName="address" required></textarea>
                                <mat-error *ngIf="addFacultyForm.get('address').invalid">Please enter address
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>City</mat-label>
                                <mat-select formControlName="city" required>
                                    <mat-option *ngFor="let city of cities" [value]="city.value">
                                        {{city.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addFacultyForm.get('city').invalid">Please select city
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state" required>
                                    <mat-option *ngFor="let state of states" [value]="state.value">
                                        {{state.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addFacultyForm.get('state').invalid">Please select state
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput #postalCode maxlength="6" placeholder="Postal code" formControlName="postalcode" required>
                                <mat-error *ngIf="addFacultyForm.get('postalcode').invalid">Please enter postal code
                                </mat-error>
                                <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                            </mat-form-field>
                        </mat-card>
                        <br>
                        <mat-card class="no-shadow">
                            <mat-card-title>Security details</mat-card-title>
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Phone number" formControlName="phonenumber" required>
                                <mat-error *ngIf="addFacultyForm.get('phonenumber').invalid">Please enter phonenumber
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input type="text" matInput placeholder="Email" formControlName="email" email required>
                                <mat-error *ngIf="addFacultyForm.get('email').invalid">Please enter email
                                </mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field class="full-width">
                                <input type="password" matInput placeholder="Password" formControlName="password" required>
                                <mat-error *ngIf="addFacultyForm.get('password').invalid">Please enter password
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input type="password" matInput placeholder="Confirm password" formControlName="confirmpassword" required>
                                <mat-error *ngIf="addFacultyForm.get('confirmpassword').invalid">Please enter confirm password
                                </mat-error>
                            </mat-form-field>
                        </mat-card>
                        <mat-card-actions>
                            <button mat-flat-button color="primary" type="submit">Add</button>
                            <button mat-stroked-button color="warn" type="reset">Cancel</button>
                        </mat-card-actions>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</mat-card>