
<mat-toolbar color="primary" class="nav mat-elevation-z10">
    <button type="button" *ngIf="(isHandset$ | async) ? 'false' : 'true'" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Online Coching Institute Management</span>
    <span class="flex"></span>
    <span mat-card-avatar class="example-header-image"></span>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      <span class="space-filler primary-color"></span>
      <mat-toolbar class="profile sidenav-header" color="primary">
        <!-- <img style="height: 40px; width: 40px;" src="https://images.static-collegedunia.com/public/college_data/images/logos/1426676899xica-logo1.jpg?tr=w-80,h-80,c-forcex" alt="">&nbsp;<b>XICA</b> -->
        <!-- <div>
            <p class="short-name">XICA</p>
            <img class="pro-pic" src="https://instagram.fbom3-1.fna.fbcdn.net/vp/efd37c8cb65b05e2ca2351f59c64eece/5BB115AD/t51.2885-19/s320x320/33876578_2099842266964866_5408262337117290496_n.jpg" alt="Tarun">
            <p>Tarun Patel</p>
          </div> -->
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tarun Patel</mat-card-title>
          <mat-card-subtitle>SY BCA : 17BCA126</mat-card-subtitle>
        </mat-card-header>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/">Dashboard</a>
        <a mat-list-item routerLinkActive="active" routerLink="second-page">Branch</a>
        <a mat-list-item routerLinkActive="active" routerLink="third-page">Notice</a>
        <!-- extra options -->
        <a mat-list-item routerLinkActive="active">Payment</a>
          <a mat-list-item routerLinkActive="active">Profile</a>
          <a mat-list-item routerLinkActive="active">Feedback</a>
        <!-- <a mat-list-item routerLinkActive="active">First Page</a>
          <a mat-list-item routerLinkActive="active">Seconnd Page</a>
          <a mat-list-item routerLinkActive="active">Third Page</a>
          <a mat-list-item routerLinkActive="active">First Page</a>
          <a mat-list-item routerLinkActive="active">Seconnd Page</a>
          <a mat-list-item routerLinkActive="active">Third Page</a>
          <a mat-list-item routerLinkActive="active">First Page</a>
          <a mat-list-item routerLinkActive="active">Seconnd Page</a>
          <a mat-list-item routerLinkActive="active">Third Page</a>
          <a mat-list-item routerLinkActive="active">First Page</a>
          <a mat-list-item routerLinkActive="active">Seconnd Page</a>
          <a mat-list-item routerLinkActive="active">Third Page</a>
          <a mat-list-item routerLinkActive="active">First Page</a>
          <a mat-list-item routerLinkActive="active">Seconnd Page</a>
          <a mat-list-item routerLinkActive="active">Third Page</a>
          <a mat-list-item routerLinkActive="active">First Page</a>
          <a mat-list-item routerLinkActive="active">Seconnd Page</a>
          <a mat-list-item routerLinkActive="active">Third Page</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="position: relative; background-color: white;">
  
      <!-- <div class="nav-space-filler"></div> -->
      
      <div class="content">
        <!-- <router-outlet></router-outlet> -->
        <span class="space-filler primary-color"></span>
        <app-institute></app-institute>
      </div>
      <div class="background primary-color"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>