<h1 mat-dialog-title>Add Exam Schedule</h1>
<div mat-dialog-content>
    <form class="no-add-timetable">
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Title" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-select placeholder="Class" [formControl]="classNotice" multiple>
                <mat-select-trigger>
                {{classNotice.value ? classNotice.value[0] : ''}}
                <span *ngIf="classNotice.value?.length > 1" class="example-additional-selection">
                    (+{{classNotice.value.length - 1}} {{classNotice.value?.length === 2 ? 'other' : 'others'}})
                </span>
                </mat-select-trigger>
                <mat-option *ngFor="let classNotice of classNoticeList" [value]="classNotice">{{classNoticeList.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea type="text" matInput placeholder="Description" rows="1" required></textarea>
        </mat-form-field>
    </form>
    
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="onAddtimetable()">Add</button>
    <button mat-stroked-button color="warn" (click)="onSave()">Cancle</button>
</div>