<div class="heading">Profile</div>
<mat-card>
    <form class="no-add-branch" [formGroup]="firstFormGroup">
        <mat-card class="no-shadow">
            <mat-card-title>Personal details</mat-card-title>
            <mat-card style="background: none; box-shadow: none;">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <!-- <mat-card-title><span>User name</span></mat-card-title>
                    <mat-card-subtitle><span>User Type</span></mat-card-subtitle> -->
                </mat-card-header>
            </mat-card>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="First name" formControlName="fname" required>
                <mat-error *ngIf="firstFormGroup.get('fname').invalid">First name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Middle name">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Last name" formControlName="lname" required>
                <mat-error *ngIf="firstFormGroup.get('lname').invalid">Last name is required</mat-error>
            </mat-form-field>
            <br>
            <div class="gndr">
                <p><label class="half-width">Select Gender</label></p>
                <mat-radio-group aria-label="Select Gender" class="half-width" color="primary" formControlName="gender">
                    <mat-radio-button value="Male" checked>Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Other">Other</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field class="full-width">
                <textarea type="text" matInput placeholder="Address" rows="3" formControlName="address" required></textarea>
                <mat-error *ngIf="firstFormGroup.get('address').invalid">Address is required</mat-error>
            </mat-form-field>
        </mat-card>
        <br>
        <mat-card class="no-shadow">
            <mat-card-title>Institute details</mat-card-title>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Institute name" formControlName="iname" required>
                <mat-error *ngIf="firstFormGroup.get('iname').invalid">Institute name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea type="text" matInput placeholder="Institute Address" rows="3" formControlName="iaddress" required></textarea>
                <mat-error *ngIf="firstFormGroup.get('iaddress').invalid">Institute address is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Institute Phone number" [formControl]="inum" required>
                  <mat-error *ngIf="inum.hasError('required')">
                    Phone number is <strong>required</strong>
                  </mat-error>
                  <mat-hint align="end">{{pnum.value.length}} / 10</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <mat-label>City</mat-label>
                <mat-select formControlName="city" required>
                    <mat-option value="ahmedabad">
                        Ahmedabad
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="firstFormGroup.get('city').invalid">City is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" required>
                    <mat-option value="gujarat">
                        Gujarat
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="firstFormGroup.get('state').invalid">State is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput #postalCode maxlength="6" placeholder="Postal Code" formControlName="pcode" required>
                <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                <mat-error *ngIf="firstFormGroup.get('pcode').invalid">Postal code is required</mat-error>
            </mat-form-field>
        </mat-card>
        <br>
        <mat-card class="no-shadow">
            <mat-card-title>Security details</mat-card-title>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Phone number" [formControl]="pnum" required>
                  <mat-error *ngIf="pnum.hasError('required')">
                    Phone number is <strong>required</strong>
                  </mat-error>
                  <mat-hint align="end">{{pnum.value.length}} / 10</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="Email" [formControl]="emailFormControl" required>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Old password" [formControl]="opass" required>
                <mat-error *ngIf="opass.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="New password" [formControl]="npass" required>
                <mat-error *ngIf="npass.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Confirm new password" [formControl]="pass" required>
                
                  <mat-error *ngIf="pass.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
        </mat-card>
        <br>
        <!-- <div class="right"> -->
        <mat-action-row>
            <button mat-flat-button color="primary" align="right" (click)="onChangePassword()">Update</button>
            <button mat-stroked-button color="warn" align="right" (click)="onClearbranch()">Cancle</button>
        </mat-action-row>
        <!-- </div> -->
    </form>
</mat-card>