<mat-card>
    <form action="">
        <mat-form-field>
            <mat-select placeholder="Select class">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Select subject">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="datepicker" placeholder="Choose date" [value]="date.value">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <label for="">Checked as : </label>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Present</mat-radio-button>
            <mat-radio-button value="2">absent</mat-radio-button>
        </mat-radio-group>
        <mat-selection-list>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
            <mat-list-option>
                Tarun Patel
            </mat-list-option>
        </mat-selection-list>
    </form>
</mat-card>