<h1 mat-dialog-title>Add Notice</h1>
<div mat-dialog-content>
    <form action="" class="no-add-timetable" [formGroup]="applynotice" (click)="onSave()">
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Title" formControlName="title" required>
            <mat-error *ngIf="applynotice.get('title').invalid">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-select placeholder="Class" [formControl]="classNotice" required multiple>
                <mat-select-trigger>
                {{classNotice.value ? classNotice.value[0] : ''}}
                <span *ngIf="classNotice.value?.length > 1" class="example-additional-selection">
                    (+{{classNotice.value.length - 1}} {{classNotice.value?.length === 2 ? 'other' : 'others'}})
                </span>
                </mat-select-trigger>
                <mat-option *ngFor="let classNotice of Classsbj" [value]="classNotice.value">{{classNotice.viewValue}}</mat-option>
            </mat-select>
            <mat-error *ngIf="classNotice.invalid">Class is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea type="text" matInput placeholder="Description" rows="1"  formControlName="desc" required></textarea>
            <mat-error *ngIf="applynotice.get('desc').invalid">Description is required</mat-error>
        </mat-form-field>
    </form>
    
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="onSave()">Add</button>
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
</div>